<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>认证代理-AuthBridge</title>
  <meta name="robots" context="noindex, nofollow" />
  <link rel="icon" href="/icons/fav.png" />
  <link rel="stylesheet" href="/css/client.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/Tooltip.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/tailwind.css" />
</head>
