<div
  data-hk="000000010000000011"
  class="color-light-primary h-8 w-8 dark:color-dark-primary"
>
  <svg
    data-hk="0000000100000000120"
    id="jufe-logo"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 337.5 344.2"
    class="jufe-logo is-static"
    style="color: currentColor"
    aria-label="JUFE logo"
    role="img"
  >
    <style>
      .jufe-logo {
        width: auto;
        height: 100%;
      }

      .jufe-logo path {
        --jufe-path-length: 1;
        --jufe-visibility: hidden;
        visibility: var(--jufe-visibility);

        fill: transparent;
        stroke: currentColor;
        stroke-dasharray: var(--jufe-path-length);
        stroke-width: 1;

        animation-name: jufe-stroke-draw, jufe-fill-in;
        animation-duration:
          var(--jufe-draw-duration), var(--jufe-fill-duration);
        animation-timing-function: ease-out, ease-in;
        animation-iteration-count:
          var(--jufe-draw-iterations), var(--jufe-fill-iterations);
        /* forwards keeps the end state: stroke fully drawn, then fill applied */
        animation-fill-mode: forwards, forwards;
        animation-delay: var(--jufe-draw-delay), var(--jufe-fill-delay);
      }

      .jufe-logo.is-static path {
        visibility: visible;
        fill: currentColor;
        stroke-dasharray: none;
        stroke-dashoffset: 0;
        animation: none;
      }

      @keyframes jufe-stroke-draw {
        from {
          stroke-dashoffset: var(--jufe-path-length);
        }
        to {
          stroke-dashoffset: 0;
        }
      }

      @keyframes jufe-fill-in {
        from {
          fill: transparent;
        }
        to {
          fill: currentColor;
        }
      }
    </style>
    <g
      class="xing"
      style="
        --jufe-draw-duration: 1500ms;
        --jufe-fill-duration: 400ms;
        --jufe-draw-delay: 0ms;
        --jufe-fill-delay: 1500ms;
        --jufe-cycle-duration: 1650ms;
        --jufe-draw-iterations: 1;
        --jufe-fill-iterations: 1;
      "
    >
      <path
        d="M226.4,170.5c-8.3.9-11-5.2-11.8-12.3-2.1-17.9-2.4-38.6-3.1-56.8-.4-11.6.8-17.5,1.5-28.5.3-5,1.8-11.7-4.1-12.4-3.3-.4-19.5-.4-20.5,2.8-2.1,6.3,2.3,19,3.4,25.5,3.5,20.3,3.7,61-6.4,79.3-2.7,4.8-7.2,3.7-8.2-1.1-2.2-9.6,3.3-24.8,4.2-35.1,1.1-12.2,0-26.6-1.4-38.8-1.4-11.8-9.6-35,5.5-40.9,12.7-5,32.2,3.8,32.1-18.2,0-19.5-31.9-5-39.1-14.2-1.3-1.6-2.7-5.5-.3-6.3,11.4.5,36.8-4.6,45.3,4,9.2,9.3,2.7,32.2,1.5,44.2-2.2,21.7-3.1,38.8-1.5,60.6,1,13.7,3.2,27.4,3.8,41.1,0,2.4.1,4.8-.9,7h0Z"
      ></path>
      <path
        d="M335.8,13.6c1.5,2.5-1.1,6.1-4,6.5-8.7,1.4-22.8-.2-32.2,0-17.1.3-38.6,2.5-55.5.8-3.3-.3-10.7-2.2-10.2-6.3.4-2.9,7-3.3,9.4-3.4,24.5-1.7,51.1,1,75.8.8,3.3,0,14.7-1.9,16.7,1.6Z"
      ></path>
      <path
        d="M311.6,92c11.9-1.7,9.6-22.3,14.7-30.9,1.6-2.7,4.8-4.9,8-4.1,3.1,9.9-2.8,34.6-10,41.8-8,7.9-19.2,2.2-27.4,4.8-1.8.6-5.2,5.2-5.2,6.8v12.3l15.4,1.5c4.7.1,9.6.3,14-1.7,3.4-1.5,7.3-6.9,11.3-5.7,6.8,5.4-1.3,15-2.3,22.2-1.8,13.1,4.2,31-14.9,33.8-18.1-2.1-42.3,3.9-59.6-.3-20.6-5-13.2-21.8-16.7-37.2-1.4-6.1-6.1-11.5-4.9-18.1l1.1-1.1c5.6-1.8,9.5,4.4,13.7,5.5,7,1.9,16.4.8,23.7,1.1,1.3,0,6.3,1.7,6.3-.3v-17.2c0-.1-1.7-1.9-1.9-1.9h-13.5c-2.4,0-10.7-2.2-13.1-3.4-9.6-4.4-8.5-13.4-11-21.9-1.6-5.5-8.6-15.5-3.6-20.4,4.7-4.6,8.5,2.5,10.3,6.3,2.8,5.7,5.3,21,8.1,24.1,3.1,3.5,19.8,4.7,23.2,2.2,1.9-1.4,3.3-8.8,2.7-10.8-1.2-3.9-11.6-3.5-15.8-8.9-1.7-2.2-4.1-9.7-4.1-12.4v-14.2c-5.2-2.4-12.5-.5-18.4-1.1-8-.8-9.6-7.3-2.1-9.5,27-.1,57.7-3.1,84.6-1,3.5.3,13.7,2.1,11.2,7.5-2.7,5.9-19.7.9-22.2,4.1-1.3,8.8.3,25.2-9.1,30.5-2.6,1.4-11.2,2.6-11.7,4.1.6,3.2-.9,9.3-.5,11.9,0,.5,1.4,1.8,1.6,1.8,5.3,0,13.1.7,18,0h0ZM300.7,44.2l-27.7-.5c-.7,4.7-3.1,17-.3,20.6,3.3,4.3,22.5,3.6,26.6.4,3.5-2.7,2.4-16.1,1.4-20.5h0ZM254.6,135.5c-2.6,0-2.1,12.2-1.9,14.6.9,10,3.8,11.3,13.2,12.3,10.6,1.1,24.6,1.5,35.2.9,3.3-.2,11.6-.8,13.9-2.6,1.9-1.5,2.7-5.2,2.9-7.5.3-2.5.4-15.5-.7-16.4-.8-.1-2.2-1.1-2.6-1.1h-60Z"
      ></path>
    </g>
    <g
      class="ming"
      style="
        --jufe-draw-duration: 1500ms;
        --jufe-fill-duration: 400ms;
        --jufe-draw-delay: 50ms;
        --jufe-fill-delay: 1550ms;
        --jufe-cycle-duration: 1650ms;
        --jufe-draw-iterations: 1;
        --jufe-fill-iterations: 1;
      "
    >
      <path
        d="M331.3,338.8c-8.8,3.6-12.2-8.8-13.2-15.2-2.6-16.7,1.7-36.1,4.4-52.7-1.6-1.1-4.9,4-6.4,5.3-7.3,6.2-18.2,10.6-27.8,11.2-3.8.2-17.3-.8-14.3-7.4,1.9-4.2,16.7-4.3,21.4-5.6,5.2-1.5,12.8-5.7,15-10.9-7.4-.1-35.6,3-40.3-1.7-4.9-4.8,6.2-7.7,9.2-8,9.7-1.2,20.4.1,29.9-.8,4-.4,10.6-1.6,9.3-6.9-.6-2-5.8-3.2-7.8-3.4-11.2-1.3-27.1,2-37.2-.3-3.4-.7-4.4-2.8-4.3-6.2.2-5.4,9.2-2.9,10.4-8.3.9-3.9.3-13.3.2-17.8,0-1.8-.8-3.4-.8-5.2,0-5.6-.8-24.3,8.9-21.6,8.5,2.3.5,18.5,5.9,21.9,3.8,2.4,9.5-.4,13.4-.7,8-.6,20.1-.8,23.5,8,.2,1.9-4.2,2.2-5.6,2.4-8.9.9-20.9-.2-29.2,3.8-5.1,2.5-6,11.9-1.4,12.7,3.9.8,11.5-1,16.5-.8,4.5.3,12.3,1.5,15.7,4.5,5.4,4.6,2.4,10.6,3,15.8.4,3.9,4.4,6.7,4.9,12.2,1.6,17.7-7.4,36.6-5.9,53.8.4,4.7,5.7,19,2.7,22h0Z"
      ></path>
      <path
        d="M198.4,215.5c-6.1-.5-15.8-3.1-19.8-8-2.7-3.4-3.3-7.6-3.1-11.9.1-2.8,1.4-10.2,5.5-9.2,4.1,2.6,4.3,8,7,11.8,4.2,6,11,7.5,18,6.8,11.6-1.1,5.5-19.2,13.6-20.9,9.4-1.9,6.7,14.1,9.9,18,2,2.4,17.1,1.4,20.3.2,7.4-2.9,5.6-18.5,9.8-20.2,10.6,0,9.4,12.3,6.6,19.4-5.5,13.9-23.8,12.4-36.2,13.9-1.8,4.3,4.1,2.7,6.7,3,8.9,1.1,15.4,4.3,22.1,10.1,3.9,3.3,10.5,9.2,9.4,14.6-2.7,14.1-23.5,17.7-34.9,21v2.2c10.9,2,33-.9,37.3,12.6,4.2,13.3-7.8,21.5-19.7,22.6-5.6.5-22.6-1.5-25.9,1.9-5.6,5.7,2.8,11,7.3,13,10.5,4.7,28.5,7.4,37.3,13.7,4,2.8,7.3,9.7.2,10.4-10.5,1.1-37.9-9.9-48.2-14.9-9.5-4.6-14.3-8.2-13-20,2.3-20.9,25.2-14.1,39.4-15.3,4.6-.4,9.5-1.6,9.9-7-.7-6.4-19.3-3.7-24.2-4.2-11-1.2-11.3-13.8-23.3-14.1-2.1,0-8.3.2-8.7,2.5-1,6.5,13.9,17.6,6,24.7-9.6,1.3-12.2-8.9-15.6-15.1-.5-.9,0-1.3-1.7-1-.1,14.1,2.3,28.1,1.5,42.3-.3,4.7-1.8,20.6-5.2,23.3-2.1,1.7-4.4,1.4-6.6.1-2.3-5.1-.2-10.8-.2-15.9.1-8.5.4-17.9,0-26.3-.5-10.6-4.7-27.1-.9-36.8,1.3-3.2,5.5-7,5.4-9.5-.3-4.6-8.4-6.3-7.3-12.6.4-2.5,3.7-3.3,5.4-5.1,3.1-3.3,4.7-8.4,8.8-11.5,6.8-5.2,15.8-3,22.4-7.6.1-.2-1.8-1.1-1.9-1.1-4.3,0-9.3.4-13.5,0h0ZM197.4,249.4c-2.9,5.1,6.6,5.1,10,5.1,2.9,0,5.8-1,8.7-1.1,1.9-2.9.8-21.5-.8-22.6-3.1-.5-6.8-.6-9.8,0-1.5.3-10.8,4.9-8.6,6.4,6.1,2.5,15.4-4.4,15.2,6.4-.1,7.1-10.3,3.3-14.7,5.8h0ZM236.4,245.3c-.5-.5-1.6-3.3-1.7-4-.6-6.2,8.7-4.3,12-7.4,0-1.3-14.4-4.4-16.4-3.3-1.5,1-2.7,18.7-.1,21.3,1.8,1.3,16.2-1.3,18.3-2.8.9-.6,1.5-.9,1.2-2.1-3.2-1.8-11,.4-13.3-1.7Z"
      ></path>
    </g>
    <g
      class="lian"
      style="
        --jufe-draw-duration: 1500ms;
        --jufe-fill-duration: 400ms;
        --jufe-draw-delay: 100ms;
        --jufe-fill-delay: 1600ms;
        --jufe-cycle-duration: 1650ms;
        --jufe-draw-iterations: 1;
        --jufe-fill-iterations: 1;
      "
    >
      <path
        d="M165.6,21.5c-2.3,2.5-22.9,2.5-27.2,2.5-34.1-.4-73.6-3.3-107.2-.8-7,.5-14.2,2.2-16.6,9.6-4.5,14,2.8,36.8,3.6,52.1.7,13.8,0,28.9-1.6,42.6-1,9-3,30.4-5.5,37.9-1.3,3.8-5.1,8.8-9.4,5.7-1.1-1.4-.7-4.3-.7-6,1.2-25.4,8.4-50.6,6.7-77.1C5.7,58.7-11.1,14.5,33.4,11.2c11.4-.8,25.7,3.1,35.8,1.3,6.9-1.3,6.4-10.4,12.2-10.3,5.7,0,6.7,9.4,15.8,10.4,18.9,2.2,44.6-6.2,62.6-1.1,4.1,1.2,9.2,6.1,5.8,10Z"
      ></path>
      <path
        d="M21.4,35.2c-6.8-11.9,18.4-9.6,24.4-7.9,12.7,3.7,8.6,13,15,18.7,10.8,9.7,14.5-15.7,21.4-18.4,9.2-3.6,4.4,9.8,2.9,14.1-1.6,4.6-3.9,10-8.2,12.8-5,3.2-13.3,1.6-15.2,7.6,19-.9,39.3,2.4,58.1.8,1,0,9.6-1.4,7.8-3.8-8.8-1.4-19.5-2.6-25.5-10.1-5.7-7.3,1.1-9.1,7.8-6.2,3.9,1.7,16.4,10.6,18.2,2.2,3.3-15.2-27.1-1.7-28.2-14.6l.8-1.5c9.6-4.7,31.3-4.3,35.1,7.7,1.8,5.8-.4,13.9,9,10.8,9.2-3,10.4-18.1,14.2-20.4,4.1-2.5,5.8,1.6,6.1,5.1.6,7.7-5.2,21.3-12.6,24.5-3.8,1.7-8.3,1.3-11.6,2.6-7.2,2.8,7.7,3.6,9.4,4.1,7.5,2.1,8,8.4,12,13.5,2.5,3.2,7.3,3.9,5.8,8.8-.9,3.1-6.2,4.1-8.1,6.1-2.5,2.7-3.4,9-6.5,11.6-3.4,2.9-13.8,2.6-14.3,4.9l.8,2.4c5.7.8,13.4,1.2,17.6,5.6,5.3,5.7,5.6,23.8,7.4,31.9.8,3.9,6,17,4.5,19.4-1.5,2.4-6.4,2.3-8.7.4-8.2-6.8-8-34.1-10.4-44.3-.4-3.1-10.2-3.7-10.6-2,.1,2.7,0,5.4,0,8.1.6,11.2,3.1,22.2,1.4,33.6-.8,5.2-3.1,7.6-8.5,5.6-1.5-1.1-1.8-4.4-2-6.3-.7-7.6,1.7-34.3-2.9-39-2.5-2.5-8-1.3-9.4,1.9-3.7,8.6-2.9,38.5-9.9,42.7-7,4.2-5.7-5.8-5.5-10.2.4-9.9,3-28.6,6.4-37.7,4-10.9,14.7-5.9,19.1-10.1,1.5-1.4.8-3.1-1.1-3.4l-66.4,1.8c-.9.7-.9.9-.4,1.9,1.7,3.2,15.8.3,20.1,9.2,2.7,5.6,8.2,33.5,8.1,39.8,0,1.6-1,7.5-2.2,8.2-6.1,3.6-9.5-7.3-10.3-11.4-1.3-6.5-1.7-27.9-5-31.7-1.5-1.7-9.3-4.1-10.1-1.7-1.5,10.6,4.2,34.7-2.4,43.2-2.8,3.6-6.1-.4-7.1-3.3-.3-1-1.9-8.7-1.9-9.4v-30.7l-1.2-1.1c-8,.7-9.8,2.3-10.8,10-1.3,10.5,0,21.8-4.9,31.8-2.7,5.5-6,7.4-12.4,6.8-1.7-1.7,5.3-22.6,5.9-26.6,1.1-8-.7-17.2,4.3-24.2,4.4-6.2,12.2-5.6,18-9.8l-.8-1.5h-17.2c-1.3,0-6.8-1.6-7.9-2.6-5.9-5.5,4.6-6.8,8.7-7.2,3.6-.3,16.4.9,18-2.2.7-1.4.9-5.3-.9-5.9-1-.3-9.6.8-12.5.6-3.3-.3-16.2-2.1-12.5-7.6,2.4-3.6,24.9-.2,26.2-4l-.3-4.9c-6.5-2-28.7,2.3-28-8.4.2-3.3,2.8-3.3,5.6-3.5,4.1-.3,20.3,1.2,22.1-2.6.7-1.5-1.1-1-1.8-1.2-6.1-1.6-11.3-.9-17.7-4-4.8-2.3-11.8-8.7-5.8-13.6,4.8-3.9,11.4,5.3,17.2,6.7,10.3,2.6,9.9-7.6,1.8-10.7-1.4-.5-7.9-2.2-9-2.2h-12ZM61.9,72.6c-2.5,1.3-2.8,6.7-.4,7.9,22.2,1.2,44.6-.7,66.8-.7,1.2-.8,1.2-6.2-.4-7.2H61.9ZM149.8,73.5c-1.3-1.1-10.5-1.7-11,.3l1.9,4h9.6c1,0,.2-3.6-.5-4.2h0ZM129,89.1l-68.3,1.5.7,7.2c5.8.8,11.8,0,17.7.3,15.1.6,31.3,1.5,46.5,0,1.1-.1,2.2-.4,3.3-.9v-8.1q.1,0,.1,0ZM139.6,97.2c3.8,2.6,17.8-11,0-8.1-1.3,2.6-1.1,5.4,0,8.1Z"
      ></path>
    </g>
    <g
      class="yi"
      style="
        --jufe-draw-duration: 1500ms;
        --jufe-fill-duration: 400ms;
        --jufe-draw-delay: 150ms;
        --jufe-fill-delay: 1650ms;
        --jufe-cycle-duration: 1650ms;
        --jufe-draw-iterations: 1;
        --jufe-fill-iterations: 1;
      "
    >
      <path
        d="M38.1,179.8c14.1-.4,34.3-1.7,47.8-.2,3.5.4,10.3,3.4,6.4,7.1-2.5,2.4-15.9,3.8-19.9,4.1-16.2,1-45.9,1.7-61.5,0-6.8-.8-9.5-6.2-3-9,5.3-2.3,23.3-1.8,30.3-2h0Z"
      ></path>
      <path
        d="M93.5,200.8c.5.5,1,1.6.9,2.3-1.6,4.1-12.7,4.4-13.8,6.5v12.8c1,1.5,10.1-.6,13.4,5.3,3.1,5.3-1.4,6.3-5.9,6.7-17,1.5-39.1-1-57.1-.8-4.5,0-22.5,2.8-24.2-2.7-2.6-8.3,8.2-7.1,11-11.2,1.3-1.8,2.7-9.2.9-10.4-4.1-.2-19.4-2.8-15.1-9.6,2.5-3.8,12.6-2,16.1-2,18.3.1,37.4-.9,55.6,0,3.6.2,10.1.4,13.3,1,1.1.2,4.1,1.5,4.8,2.3h0ZM32.6,208.8l-1.1,1.1v12c.6.7,1.3,1.3,2.2,1.5,3,1,21.8.7,25.9.4,2.8-.2,7.2-.8,8.3-3.7,1.7-4.8,2.9-11.3-3.8-11.3h-31.5Z"
      ></path>
      <path
        d="M50.2,314.7c-.3-.9-1.7-1.2-2.6-1.2-3.5,0-10.9,2.4-15.1,2.9-5.6.7-23.3,1.8-26.6-3.2-2.7-4.2,3.3-4.8,6.6-5.5,9.5-1.8,20.4-1.4,29.7-3.3,1.5-.3,3-.6,4.3-1.7,1.6-1.5,4.6-9.4,1.8-10.1-11.6.8-25,5.7-36.3,2.6-3.1-.8-6.7-2.2-6.8-5.9,9.4-5.4,36.4-.6,42.4-10.2,1.1-1.7,1.4-3.1,1.2-5.2l-36.4,3.8-6.4-.8c-.5-2.7.7-4.8,2.7-6.6,12.8-11.3,45.7,3.2,50.5-19.6-11.3-.4-22.8.5-34.2,0-4-.2-13.6-.6-16.9-1.9-5.6-2.2-6.7-8.7,1.1-9.4,19.5-1.8,46.2-.1,66,.8,6.9.3,23.3-2.7,19.7,8.8-6.1,2.1-13.4-.5-19.2,2.1-6.3,2.8-12.3,20.5-13.6,27.2h13.1c1.3,0,7.4-1.7,8.9-2.3,2.6-1.1,4.8-3.3,6.9-5.1,9.2,7.2-1.5,20.4-2,30.2-.5,10.6,7.2,25.9,5.1,35-.5,2.3-4.6,6.5-7,4.3-3-2.9-9-22.6-9.4-27.3-.3-4.4,1.8-20.7.4-22.9-.6-.9-1.2-.6-2.1-.6-4.9.4-11.2-.3-14.9,2.5v38.2c0,.8-1.7,7.4-2.2,8.1-1.3,1.8-5.7,3-7.1.5-.3-.6-1.9-7.3-1.9-7.8,0-3.3.7-14.3,0-16.5h0Z"
      ></path>
      <path
        d="M162.6,243c-4,4.3-25,2.4-29.8-1-9.4-6.5-6.9-26.5,5.2-29.9,7-2,19.5,1.6,14.4-9.8-5.5-12.5-25.1-2.6-35.1-1.8-.6,11.9.3,23.6-4.1,34.9-1.2,3.2-6.5,14.5-10.9,9.3-4.2-5.1,2.6-17.9,3.8-23.9,2.7-13.9-3.6-23.6-4.8-36.4-1.4-15.5,11.4,1.1,15.5,2.5,8.4,2.9,13.3-2.3,20.2-3.4,10.6-1.7,21.3,1.8,25.8,12,2.5,5.7,3.6,14.9-.2,20.2-4.4,6.1-24.7,6.5-24.7,12.1,0,6.8,24.3,3,25.5,10.5.2,1.3,0,3.7-1,4.6h0Z"
      ></path>
      <path
        d="M151.5,289.6c-3.2,1.1-6.4,2.6-9.7,3.4-10,2.3-28.5,2.4-38.5.2-3.8-.8-7.3-5.5-3.2-7.4,3.4-1.6,13.1-2,17.3-2.2,5.9-.3,23.5,1.4,27.2-2.4.9-1,1-3,1-4.3-4,0-8.4-1.3-12.3-1.5-8.1-.4-24.4,2.8-30.7-.8-1.9-1.1-4.8-4.3-3.4-6.5,1.3-2,35.1-1.8,40.1-1.6,2.3,0,10.8,2.6,10.9-1.1-2-7.2-12.8-7.7-19.1-7.9-6.5-.2-27.5,2.6-31.2-3.3-2.5-4,2.4-4.7,5.9-5.4,9.9-2.2,28.6-2.7,38.8-1.7,8.8.9,16.5,6.3,17.5,15.4.8,6.8,1.2,21.4.9,28.4-.5,11.4-6.3,23.7-3.2,34.6,1.3,4.7,4.7,9.1,2.9,14.4-5.2,2.6-10.7-4-12.8-8.3-3.4-7-3.7-14.2-2.3-21.7.6-3.4,6.4-18.4,4.1-20.2h0Z"
      ></path>
    </g>
  </svg>
</div>
