node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.*.local
dist/
build/
public/css/tailwind.css
.idea/
.vscode/
.DS_Store
secret.json
secrets.json
keys/
applist.json
*.log
coverage/