<% const pagedata = { maintitle: '404 - Not Found', secondtitle: '页面未找到',
body: `
<p>话说你怎么溜达到这里来了？</p>
<p>建议你检查一下路径，或者回到主页。</p>
<a
  href="/"
  class="hover:underline"
  style="
    color: color-mix(
      in oklab,
      var(--colors-light-primary) var(--un-text-opacity),
      transparent
    );
  "
  >返回主页
</a>
` }; %>
<%- include('./shared/layout',pagedata) %>
